
################################################
## fTrading
################################################


################################################
## import name space
################################################

import("timeDate")
import("timeSeries")
import("fBasics")

importFrom("graphics", axis, box, par, plot.new, 
			plot.window, segments, title)
importFrom("stats", is.mts, sd, var)


################################################
## functions
################################################

exportPattern(".")
